<script setup lang="ts">
import { useMemberStore } from '@/stores/member'
import { useReceiptStore } from '@/stores/receipt'
import { provide, ref } from 'vue'

// const num = ref(0)
// provide('num1', num)
// provide('num1Click', () => {
//   num.value += 2
// })
const tel = ref('')
const fullName = ref('')
const memberStore = useMemberStore()
const receiptStore = useReceiptStore()
const addMemberDialog = ref(false)

function onClick() {
  memberStore.searchMember(tel.value)
  receiptStore.calReceipt()
  memberStore.showMember = true
  tel.value = ''
}

function addMember() {
  if (fullName.value != '' && tel.value.length === 10) {
    memberStore.addMember(fullName.value, tel.value)
    clearAddMember()
  }
}

function clearAddMember() {
  addMemberDialog.value = false
  fullName.value = ''
  tel.value = ''
}
</script>

<template>
  <v-container class="pa-2">
    <v-row no-gutters>
      <v-col cols="6" style="padding-top: 2%">
        <v-text-field
          v-model="tel"
          density="compact"
          variant="solo"
          label="Search Member"
          append-inner-icon="mdi-magnify"
          clearable
          single-line
          hide-details
          @click:append-inner="onClick"
          @keyup.enter="onClick"
        ></v-text-field>
      </v-col>
      <v-col cols="4" style="padding-top: 3.7%; text-align: center" v-if="memberStore.showMember">
        {{ memberStore.currentMember ? memberStore.currentMember?.name : 'Not Member' }}
      </v-col>
      <v-col cols="2" style="padding-top: 2.5%; text-align: center; font-size: larger">
        <v-btn color="green-darken-4" variant="text" @click="addMemberDialog = true">
          <v-icon size="x-large">mdi-account-multiple-outline</v-icon>
          +
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
  <v-dialog v-model="addMemberDialog" persistent width="700">
    <v-card>
      <v-card-title style="text-align: center; padding-top: 3%" class="text-h5">
        Member
      </v-card-title>
      <v-container style="text-align: center">
        <v-row>
          <v-col>
            <v-text-field
              ref="cashInputField"
              v-model="fullName"
              label="Full Name"
              outlined
              class="ma-2"
              required
            ></v-text-field>
          </v-col>
          <v-col>
            <v-text-field
              ref="cashInputField"
              v-model="tel"
              label="Tell"
              outlined
              class="ma-2"
              required
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-btn width="250" color="red-darken-1" variant="text" @click="clearAddMember()">
              Cancle
            </v-btn>
          </v-col>
          <v-col>
            <v-btn width="250" color="green-darken-1" variant="text" @click="addMember()">
              Add
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-dialog>
</template>
