<script setup lang="ts">
import { ref, nextTick, onMounted } from 'vue'
import { usePosStore } from '@/stores/pos'
import { useReceiptStore } from '@/stores/receipt'
import { type Product } from '@/types/Product'
import ProductList from '@/components/ProductList.vue'
import ReceiptDetailTable from './ReceiptDetailTable.vue'
import ReceiptCard from './ReceiptCard.vue'
import MemberCard from './MemberCard.vue'
import ReceiptDialog from './ReceiptBill.vue'
import ReceiptPayment from './ReceiptPayment.vue'
import PromotionList from './PromotionList.vue'
import type { Promotion } from '@/types/Promotion'
import { usePromotionStore } from '@/stores/promotion'
import { useReceiptPromotion } from '@/stores/receiptPromotion'

const posStore = usePosStore()
const promotionStore = usePromotionStore()
const receiptStore = useReceiptStore()
const receiptPromotionStore = useReceiptPromotion()
const tab = ref(1)
const divReceiptItems = ref<HTMLElement | null>(null)

const selected = (product: Product) => {
  receiptStore.addReceiptItem(product)
  nextTick(() => {
    if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
  })
}

//////// Promotion //////////
const selectedPm = (promotion: Promotion) => {
  receiptPromotionStore.addPromotionItem(promotion)
  nextTick(() => {
    if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
  })
}

onMounted(async () => {
  await posStore.getProducts()
  await promotionStore.getPromotions()
})
</script>

<template style="background-color: rgb(202, 135, 96)">
  <v-container fluid style="background-color: rgb(202, 135, 96)">
    <v-row>
      <v-col cols="12" md="7">
        <v-sheet min-width="0%" max-width="100%" height="100%" elevation="6" class="rounded-table">
          <v-tabs
            v-model="tab"
            color="deep-purple-accent-4"
            align-tabs="center"
            class="rounded-table"
            style="background-color: rgb(253, 233, 206)"
          >
            <v-tab :value="1" style="font-size: 16px">Coffees</v-tab>
            <v-tab :value="2" style="font-size: 16px">Drink</v-tab>
            <v-tab :value="3" style="font-size: 16px">Dessert</v-tab>
          </v-tabs>
          <v-window v-model="tab">
            <v-window-item :value="1">
              <ProductList
                :products="posStore.productsType3"
                @selectedProduct="selected"
              ></ProductList>
            </v-window-item>
            <v-window-item :value="2">
              <ProductList
                :products="posStore.productsType2"
                @selectedProduct="selected"
              ></ProductList>
            </v-window-item>
            <v-window-item :value="3">
              <ProductList
                :products="posStore.productsType1"
                @selectedProduct="selected"
              ></ProductList> </v-window-item
          ></v-window>
        </v-sheet>
      </v-col>
      <v-col cols="12" md="5">
        <v-container class="pa-0">
          <v-row>
            <v-col cols="12">
              <div ref="divReceiptItems" style="height: 300; overflow: auto" class="rounded-table">
                <v-sheet min-width="200" max-width="100%" height="300" elevation="6">
                  <ReceiptDetailTable></ReceiptDetailTable>
                </v-sheet>
              </div>
            </v-col>
            <v-col cols="12" class="pt-1">
              <v-sheet
                min-width="150"
                max-width="100%"
                height="78"
                elevation="6"
                class="rounded-table"
              >
                <MemberCard></MemberCard>
              </v-sheet>
            </v-col>
            <v-col cols="12" class="pt-1">
              <v-sheet
                max-width="100%"
                min-height="150"
                max-height="100"
                elevation="6"
                class="rounded-table"
              >
                <PromotionList></PromotionList>
              </v-sheet>
            </v-col>
            <v-col cols="12" class="pt-1">
              <v-sheet
                min-width="50"
                max-width="100%"
                height="80"
                elevation="6"
                class="rounded-table"
              >
                <ReceiptCard></ReceiptCard>
              </v-sheet>
            </v-col>
            <v-col cols="12" class="pt-1">
              <v-sheet
                min-width="150"
                max-width="100%"
                max-height="60"
                elevation="6"
                class="rounded-table"
              >
                <v-container>
                  <v-row>
                    <v-col class="pt-2">
                      <v-btn
                        block
                        rounded="xl"
                        size="default"
                        style="background-color: rgb(255, 81, 81)"
                        @click="receiptStore.clear"
                        >Clear</v-btn
                      >
                    </v-col>
                    <v-col class="pt-2">
                      <v-btn
                        block
                        rounded="xl"
                        size="default"
                        style="background-color: rgb(68, 222, 68)"
                        @click="receiptStore.showReceiptPayment()"
                        >Purchase</v-btn
                      >
                    </v-col>
                  </v-row>
                </v-container>
              </v-sheet>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
  <ReceiptPayment></ReceiptPayment>
  <ReceiptDialog></ReceiptDialog>
</template>

<style scoped>
.rounded-table {
  border-radius: 10px;
}
</style>
./PromotionList.vue
