<script setup lang="ts">
import PromotionCard from '@/components/PromotionCard.vue'
import { useMemberStore } from '@/stores/member'
import { usePromotionStore } from '@/stores/promotion'
import { useReceiptStore } from '@/stores/receipt'
import { useReceiptPromotion } from '@/stores/receiptPromotion'
import type { Promotion } from '@/types/Promotion'
import { ref, watch } from 'vue'

const emit = defineEmits<{
  selectedPromotion: [Promotion] //selectedProduct( Product p)
}>()

function selectedPm(p: Promotion) {
  emit('selectedPromotion', p)
}

const promotionStore = usePromotionStore()
const receiptStore = useReceiptStore()
const memberStore = useMemberStore()
const receiptPromotionStore = useReceiptPromotion()
const promotionItems = ref<Promotion[]>([])

async function fetchPromotions() {
  promotionItems.value = []
  // Ismember
  for (let i = 0; i < promotionStore.promotions.length; i++) {
    if (promotionStore.promotions[i].member === true && memberStore.currentMember) {
      promotionItems.value.push(promotionStore.promotions[i])
    }
  }

  try {
    // productId
    for (let i = 0; i < receiptStore.receiptItems.length; i++) {
      const promotionsForProduct = promotionStore.promotions.find((promotion) => {
        return promotion.productId === receiptStore.receiptItems[i].product.id
      })
      if (promotionsForProduct !== undefined) {
        promotionItems.value.push(promotionsForProduct!)
      }
    }

    // productType
  } catch (error) {
    console.error('Error fetching items:', error)
  }
}

watch(receiptStore.receiptItems, (newValue, oldValue) => {
  fetchPromotions()
})
</script>

<template>
  <div
    style="
      max-width: 100%;
      min-width: 50px;
      min-height: 100%;
      max-height: 150px;
      overflow: auto;
      padding: 0%;
    "
  >
    <v-container no-gutters>
      <v-row>
        <v-col v-for="item of promotionStore.promotionsByDate" :key="item.id" cols="12" md="6">
          <PromotionCard
            :promotion="item"
            @selectedPromotion="selectedPm"
            v-if="receiptPromotionStore.renderComponent"
          ></PromotionCard>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<style scoped>
.textSize {
  font-size: 13px;
  padding: 0%;
}
</style>
