<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'
const receiptStore = useReceiptStore()
</script>

<template>
  <v-table class="rounded-table">
    <thead style="background-color: rgb(111, 52, 0); color: white">
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Price</th>
        <th>Unit</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody style="overflow-x: hidden; background-color: rgb(255, 245, 236)">
      <tr
        v-for="(item, index) of receiptStore.receiptItems"
        :key="item.product.id"
        style="margin-bottom: 5px"
      >
        <td>{{ index + 1 }}</td>
        <td>{{ item.product.name }}</td>
        <td>{{ item.product.price }}</td>
        <td class="d-flex align-center">
          <v-btn
            icon="mdi-minus"
            density="compact"
            size="small"
            style="margin-right: 20%"
            @click="receiptStore.decrease(item)"
          ></v-btn>
          {{ item.qty }}
          <v-btn
            icon="mdi-plus"
            density="compact"
            size="small"
            style="margin-left: 20%"
            @click="receiptStore.increase(item)"
          ></v-btn>
        </td>
        <td>{{ item.product.price * item.qty }}</td>
        <td>
          <v-btn
            icon="mdi-delete"
            density="compact"
            size="small"
            @click="receiptStore.removeReceioptItem(item)"
          ></v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>

<style scoped>
th {
  font-weight: 200;
  font-size: 20px;
  font-size: 0.85vw;
}

td {
  font-size: 12px;
  font-size: 0.85vw;
}

.rounded-table {
  border-radius: 7px;
}
</style>
