<script setup lang="ts">
import { useMemberStore } from '@/stores/member'
import { useReceiptStore } from '@/stores/receipt'
import { useReceiptPromotion } from '@/stores/receiptPromotion'
import { ref } from 'vue'

const receiptStore = useReceiptStore()
const receiptPromotionStore = useReceiptPromotion()
const memberStore = useMemberStore()

const currentTime = receiptStore.receipt.created // Create a new Date object representing the current time
const hours = currentTime.getHours() // Get the current hour (0-23)
const minutes = currentTime.getMinutes() // Get the current minute (0-59)
const seconds = currentTime.getSeconds() // Get the current second (0-59)
console.log(receiptPromotionStore.textPromotions)
</script>

<template>
  <v-dialog v-model="receiptStore.receiptDialog" persistent width="340">
    <v-card style="padding-left: 4%; padding-right: 4%">
      <div class="line"></div>
      <v-card-title
        style="text-align: center; padding: 0%; font-size: 30px"
        class="font-weight-bold"
        >Receipt</v-card-title
      >
      <div class="line"></div>
      <v-row style="text-align: center">
        <v-col style="font-size: 8px" cols="4"> OMGCAFE(Buu) </v-col>
        <v-col style="font-size: 8px" cols="4"> R:id{{ receiptStore.receipt.id }} </v-col>
        <v-col style="font-size: 8px" cols="4">
          <!-- // Format: 'YYYY-MM-DD' -->
          {{ currentTime.toISOString().slice(0, 10) }} {{ hours }}:{{ minutes }}:{{ seconds }}
        </v-col>
      </v-row>

      <v-container class="pa-0" style="text-align: center; border: 2px solid #000000">
        <v-row>
          <v-col cols="5"> Description </v-col>
          <v-col cols="4" style="text-align: left"> Quantity </v-col>
          <v-col cols="3"> Price </v-col>
        </v-row>
      </v-container>
      <v-container>
        <v-row v-for="item in receiptStore.receiptItems" :key="item.product.id" style="">
          <v-col style="padding: 0%; padding-left: 4%">
            <v-list-item-title style="font-size: 13px">{{ item.product.name }} </v-list-item-title>
          </v-col>
          <v-col style="padding: 0%; text-align: center">
            <v-list-item-subtitle style="font-size: 10px; padding-top: 4%">
              x {{ item.qty }}</v-list-item-subtitle
            >
          </v-col>
          <v-col style="padding: 0%; padding-right: 4%">
            <v-list-item-title style="text-align: right; font-size: 13px">
              {{ (item.product.price * item.qty).toFixed(2) }}
            </v-list-item-title>
          </v-col>
        </v-row>
        <div class="line"></div>
        <!-- Black line -->
        <v-container style="font-size: 10px" class="pa-0">
          <v-row>
            <v-col class="textmini">
              <v-list-item-title>Subtotal :</v-list-item-title>
            </v-col>
            <v-col style="padding: 0%; text-align: right; padding-right: 4%">
              <v-list-item-title>{{
                (receiptStore.receipt.total + receiptStore.receipt.discount).toFixed(2)
              }}</v-list-item-title>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="textmini">
              <v-list-item-title>Discount :</v-list-item-title>
            </v-col>
            <v-col style="padding: 0%; text-align: right; padding-right: 4%">
              <v-list-item-title>{{ receiptStore.receipt.discount }}</v-list-item-title>
            </v-col>
          </v-row>
        </v-container>

        <v-row>
          <v-col style="font-size: 20px" class="font-weight-bold"> TOTAL : </v-col>
          <v-col style="text-align: right; font-size: 20px" class="font-weight-bold">
            {{ receiptStore.receipt.total.toFixed(2) }}
          </v-col>
        </v-row>
        <v-container style="font-size: 10px" class="pa-0">
          <v-row v-if="receiptStore.cash > 0">
            <v-col class="textmini"> Cash : </v-col>
            <v-col style="padding: 0%; text-align: right; padding-right: 4%">
              {{ receiptStore.cash.toFixed(2) }}
            </v-col>
          </v-row>
          <v-row v-if="receiptStore.cash > 0">
            <v-col class="textmini"> Change : </v-col>
            <v-col style="padding: 0%; text-align: right; padding-right: 4%">
              {{ (receiptStore.cash - receiptStore.receipt.total).toFixed(2) }}
            </v-col>
          </v-row>
          <v-row v-if="memberStore.currentMember">
            <v-col class="textmini"> Get Point : </v-col>
            <v-col style="padding: 0%; text-align: right; padding-right: 4%">
              {{ receiptStore.gotPoint }}
            </v-col>
          </v-row>
          <v-row v-if="memberStore.currentMember">
            <v-col class="textmini"> Current Point : </v-col>
            <v-col style="padding: 0%; text-align: right; padding-right: 4%">
              {{ memberStore.currentMember?.point }}
            </v-col>
          </v-row>
          <v-row>
            <v-col
              style="
                padding: 0%;
                text-align: left;
                padding-left: 4%;
                font-size: 9px;
                padding-top: 1%;
              "
            >
              Promotions :
            </v-col>
            <v-col class="textPromotionMini">
              <!-- {{ receiptPromotionStore.textPromotions.join('\n') }} -->
              <template v-for="(promotion, index) in receiptPromotionStore.textPromotions">
                <div no-gutters :key="index" v-if="index >= 0">{{ promotion }},</div>
              </template>
            </v-col>
          </v-row>
        </v-container>
      </v-container>

      <div class="img-container">
        <v-img
          v-if="receiptStore.qrCode"
          src="./img/qr-code.png"
          class="minimal-size"
          max-width="100"
          max-height="100"
          aspect-ratio="0.5"
        ></v-img>
      </div>
      <v-container style="font-size: 8px">
        <v-row>
          <v-col cols="4" style="font-size: 6px">
            <div>UserID</div>
            {{ receiptStore.receipt.user?.id }}
          </v-col>
          <v-col cols="4" style="text-align: center; font-size: 6px">
            <div>Payment</div>
            {{ receiptStore.receipt.payment }}
          </v-col>
          <v-col cols="4" style="text-align: right; font-size: 6px">
            <div>Member</div>
            {{ receiptStore.receipt.member?.name }}
            <!-- receiptStore.receipt.member ? receiptStore.receipt.member.name : '---' -->
          </v-col>
        </v-row>
      </v-container>

      <v-btn color="red" variant="text" @click="receiptStore.clear()"> Close </v-btn>
    </v-card>
  </v-dialog>
</template>

<style scoped>
.img-container {
  padding-top: 0%;
  display: flex;
  justify-content: center;
}
.textmini {
  padding: 0%;
  text-align: left;
  padding-left: 4%;
  font-size: 10px;
}
.textPromotionMini {
  padding: 0%;
  padding-right: 4%;
  text-align: right;
  font-size: 6px;
  padding-top: 1%;
}
.line {
  border-bottom: 2px solid black;
  margin: 20px 0;
}
</style>
