<script setup lang="ts">
import { inject, onMounted, ref, type Ref } from 'vue'

const rail = inject<Ref<boolean>>('rail')
import { computed, watch } from 'vue'

const selectedTime = ref<Date | null>(null)

const formattedTime = computed(() => {
  if (!selectedTime.value) return ''

  const hours = selectedTime.value.getHours()
  const minutes = selectedTime.value.getMinutes()
  const seconds = selectedTime.value.getSeconds()

  // จัดรูปแบบเวลาในรูปแบบ HH:mm
  return `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds
    .toString()
    .padStart(2, '0')}`
})

const updateTime = () => {
  // จัดการเหตุการณ์เปลี่ยนแปลงเวลาตามต้องการ
  console.log('เวลาที่เลือก:', selectedTime.value)
}

onMounted(() => {
  // ตั้งค่าให้ selectedTime เป็นเวลาปัจจุบันทุกๆ 1 นาที
  const intervalId = setInterval(() => {
    selectedTime.value = new Date()
  }, 60000 / 1000) // 1 นาที

  // ล้าง interval เมื่อ component ถูกถอดจาก DOM
  return () => clearInterval(intervalId)
})
</script>

<template>
  <v-app-bar color="teal-darken-4" image="./img/c3.jpg">
    <template v-slot:image>
      <v-img></v-img>
    </template>

    <template v-slot:prepend>
      <v-app-bar-nav-icon @click.stop="rail = !rail"></v-app-bar-nav-icon>
    </template>

    <v-app-bar-title>Coffee</v-app-bar-title>

    <v-spacer></v-spacer>
    <v-btn>
      {{ formattedTime }}
      <!-- {{ selectedTime }} -->
    </v-btn>
  </v-app-bar>
</template>
