<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { inject, type Ref } from 'vue'

const rail = inject<Ref<boolean>>('rail')
const drawer = inject<Ref<boolean>>('drawer')
const authStore = useAuthStore()
</script>

<template>
  <v-navigation-drawer
    v-model="drawer"
    :rail="rail"
    permanent
    @click="rail = false"
    color="#b06010"
    style="height: 100vh"
  >
    <v-list-item
      prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
      :title="authStore.getCurrentUser()?.email"
      nav
    >
      <template v-slot:append>
        <v-btn variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
      </template>
    </v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <!-- Pos -->
      <v-list-item
        prepend-icon="mdi-cash-register"
        title="Point of Sell"
        value="pos"
        :to="{ name: 'pos' }"
      ></v-list-item>

      <!-- User -->
      <v-list-item
        prepend-icon="mdi-account"
        title="Users"
        value="users"
        :to="{ name: 'users' }"
      ></v-list-item>

      <!-- Stock -->
      <v-list-group value="Stock">
        <template v-slot:activator="{ props }">
          <v-list-item prepend-icon="mdi-barn" v-bind="props" title="Stock"></v-list-item>
        </template>
        <v-list-item
          prepend-icon="mdi-warehouse"
          title="Stock"
          :to="{ name: 'stock' }"
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-file-document-multiple"
          title="Report Stock"
          :to="{ name: 'report_stock' }"
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-truck-delivery"
          title="Purchase Order"
          :to="{ name: 'pur_order' }"
        ></v-list-item>
      </v-list-group>

      <!-- CheckinCheckout -->
      <v-list-item
        prepend-icon="mdi-account-arrow-left"
        title="Check in check out"
        value="checkincheckout"
        :to="{ name: 'checkincheckout' }"
      ></v-list-item>

      <!-- Product -->
      <v-list-item
        prepend-icon="mdi-cup"
        title="Product"
        value="product"
        :to="{ name: 'product' }"
      ></v-list-item>

      <!-- Promotion -->
      <v-list-item
        prepend-icon="mdi-cash-multiple"
        title="Promotion"
        value="promotion"
        :to="{ name: 'promotion' }"
      ></v-list-item>
      <!-- Order -->
      <v-list-item
        prepend-icon="mdi-receipt-text"
        title="Order"
        value="order"
        :to="{ name: 'order' }"
      ></v-list-item>
    </v-list>

    <v-divider></v-divider>

    <!-- Logout -->
    <v-list dense nav class="mt-auto">
      <v-list-item
        prepend-icon="mdi-logout"
        title="Logout"
        value="logout"
        :to="{ name: 'login' }"
        @click="authStore.logout()"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
