<script setup lang="ts">
import { type Product, getImageUrl } from '@/types/Product'

defineProps<{
  product: Product
}>()
const emit = defineEmits<{
  selectedProduct: [product: Product] //selectedProduct( Product p)
}>()
</script>
<template>
  <v-card
    min-width="50"
    max-width="100%"
    height="150"
    elevation="6"
    @click.stop="
      () => {
        emit('selectedProduct', product)
      }
    "
    class="v-card"
  >
    <v-img :src="getImageUrl(product)" class="minimal-size"></v-img>
    <div style="text-align: center; padding-bottom: 2%">
      {{ product.name }} {{ product.price }} baht
    </div>
  </v-card>
</template>

<style scoped>
.minimal-size {
  width: 100px;
  height: 100px;
}
.v-card {
  background-color: rgba(255, 182, 122, 0.121);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
</style>
