<script setup lang="ts">
import { useMemberStore } from '@/stores/member'
import { useReceiptStore } from '@/stores/receipt'
import { useReceiptPromotion } from '@/stores/receiptPromotion'
import type { Promotion } from '@/types/Promotion'
import { ref } from 'vue'

const receiptStore = useReceiptStore()
const receiptPromotionStore = useReceiptPromotion()
const memberStore = useMemberStore()

defineProps<{
  promotion: Promotion
}>()
const emit = defineEmits<{
  selectedPromotion: [promotion: Promotion]
}>()

const clicked = ref(false)

function isButtonDisabled(promotion: Promotion) {
  // is member
  // is has productId
  const productIndex = receiptStore.receiptItems.findIndex(
    (item) => item.product.id === promotion.productId
  )
  // if unclick check
  if (clicked.value === false) {
    // isMember check
    if (promotion.member === true && memberStore.isMember === true) {
      // productId check
      if (productIndex !== undefined && productIndex >= 0) {
        // qty check
        if (receiptStore.receiptItems[productIndex].qty >= promotion.minQty) {
          console.log('way 1', promotion.minQty)
          return true
        }
      } else if (promotion.productId === -1) {
        // qty check
        if (
          receiptStore.receipt.qty >= promotion.minQty &&
          memberStore.currentMember!.point >= promotion.usePoint &&
          receiptStore.receipt.total > promotion.priceDiscount
        ) {
          console.log('way 2', receiptStore.receipt.qty, promotion.minQty)
          return true
        }
      } // isMember or notMember
    } else if (promotion.member === false) {
      // productId check
      if (productIndex !== undefined && productIndex >= 0) {
        // qty check
        if (receiptStore.receiptItems[productIndex].qty >= promotion.minQty) {
          return true
        }
        console.log('way 3', promotion.minQty)
      } else if (promotion.productId === -1) {
        return true
      }
    }
  }

  return false
}

function getButtonBackgroundColor() {
  // Logic to determine the background color based on conditions
  if (clicked.value === true) {
    return 'red' // Example: red background color
  } else {
    return 'success' // Example: green background color
  }
}

function getText() {
  if (clicked.value === true) {
    return 'Got' // Example: red background color
  } else {
    return 'Get' // Example: green background color
  }
}
</script>
<template>
  <v-card
    min-width="50"
    min-height="118px"
    max-width="100%"
    max-height="100%"
    elevation="4"
    @click.stop="
      () => {
        emit('selectedPromotion', promotion)
      }
    "
    class="image-container"
  >
    <v-card-title style="text-align: center; font-size: 100%; font-weight: 550; padding: 1%">{{
      promotion.name
    }}</v-card-title>
    <!-- <v-img :src="getImageUrl(promotion)" class="minimal-size"></v-img> -->
    <div style="text-align: center; font-size: 10px">
      {{ promotion.description }}
    </div>
    <v-spacer></v-spacer>
    <v-btn
      :disabled="!isButtonDisabled(promotion)"
      @click="
        (clicked = !clicked),
          receiptPromotionStore.addPromotionItem(promotion),
          receiptStore.calReceipt()
      "
      :color="getButtonBackgroundColor()"
      width="100%"
      height="30px"
    >
      {{ getText() }}
    </v-btn>
  </v-card>
</template>

<style scoped>
.minimal-size {
  width: 50;
  height: 50;
}
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  padding: 5%;
  background-color: rgba(203, 205, 255, 0.523);
}
.card-actions {
  bottom: 0;
}
</style>
