<script setup lang="ts">
import { useCheckStockStore } from '@/stores/stock/checkStock'
import { useMaterialStore } from '@/stores/stock/material'
import type { CheckDetail } from '@/types/stock/CheckDetail'
import type { Material } from '@/types/stock/Materials'
import { onMounted, ref } from 'vue'

const materialStore = useMaterialStore()
const material = ref<Material>()
const checkStockStore = useCheckStockStore()
const snackbar = ref(false)
const loading = ref(false)

const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },

  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Quantity',
    key: 'quantity',
    value: 'quantity'
  }

  // { title: 'Actions', key: 'actions', sortable: false }
]

onMounted(async () => {
  await materialStore.getMaterials
})
</script>

<template slot-scope="props">
  <v-row>
    <v-col cols="12">
      <v-data-table :headers="headers" :items="materialStore.filteredMaterials">
        <template v-slot:top>
          <v-toolbar flat style="background-color: rgb(132, 101, 79)">
            <v-toolbar-title style="color: white"
              ><span class="mdi mdi-dolly" style="padding: 3%; font-size: 16px"></span
              >Matrerials</v-toolbar-title
            >
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
          </v-toolbar>
        </template>
        <template v-slot:[`item.quantity`]="{ item }">
          <v-text-field type="number" v-model="item.quantity"></v-text-field>
          <!-- <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
          <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon> -->
        </template>
        <template v-slot:no-data>
          <v-btn color="primary" @click="materialStore.getMaterials"> Reset </v-btn>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
</template>
