<script setup lang="ts">
import { useCheckStockStore } from '@/stores/stock/checkStock'
const stockStore = useCheckStockStore()
</script>

<template>
  <v-row>
    <v-col cols="1"></v-col>
    <v-col cols="4">
      <v-card-text style="font-size: 12pt">
        ID: {{ stockStore.editedCheckStock.id }}<br /><br />
        Date: {{ stockStore.editedCheckStock.date }}
      </v-card-text>
    </v-col>
    <v-col cols="3"> </v-col>
    <v-col cols="4">
      <v-card-text style="font-size: 12pt">
        User: {{ stockStore.editedCheckStock.userName }}
      </v-card-text>
    </v-col>
  </v-row>

  <v-row>
    <v-col cols="12">
      <v-card style="margin-left: 3px; margin-right: 3px">
        <v-table>
          <thead>
            <tr style="background-color: antiquewhite">
              <th class="text-left">ID</th>
              <th class="text-left">In Date</th>
              <th class="text-left">Name</th>
              <th class="text-left">price</th>
              <th class="text-left">Qty Previous</th>
              <th class="text-left">Quantity</th>
              <th class="text-left">use</th>
              <th class="text-left">min</th>
              <th class="text-left">status</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in stockStore.editedCheckStock.stockDetails" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.in_date }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.qt_previous }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.use }}</td>
              <td>{{ item.min }}</td>
              <td>{{ item.status }}</td>
            </tr>
            <tr style="background-color: antiquewhite">
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th colspan="3" class="text-right">Total Quantity :</th>
              <th class="text-left">
                {{ stockStore.editedCheckStock.totalQty }}
              </th>
            </tr>

            <tr style="background-color: antiquewhite">
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th colspan="3" class="text-right">Total Price :</th>
              <th class="text-left">
                {{ stockStore.editedCheckStock.totalPrice }}
              </th>
            </tr>
            <tr style="background-color: antiquewhite">
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th colspan="3" class="text-right">Total Use :</th>
              <th class="text-left">
                {{ stockStore.editedCheckStock.totalUse }}
              </th>
            </tr>
          </tbody>
        </v-table></v-card
      ></v-col
    >
  </v-row>
</template>
