<script setup lang="ts">
import { useCheckStockStore } from '@/stores/stock/checkStock'
import type { CheckDetail } from '@/types/stock/CheckDetail'
import type { CheckMaterial } from '@/types/stock/CheckMaterials'
import { nextTick, onMounted, ref } from 'vue'
import ReportDetail from './ReportDetail.vue'

const stockStore = useCheckStockStore()
const dialogDelete = ref(false)
const dialog = ref(false)
const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Date',
    key: 'date',
    value: 'date'
  },

  {
    title: 'Total Price',
    key: 'totalPrice',
    value: 'totalPrice'
  },
  {
    title: 'Total Qty',
    key: 'totalQty',
    value: 'totalQty'
  },
  {
    title: 'Total Use',
    key: 'totalUse',
    value: 'totalUse'
  },

  { title: 'Description', key: 'actions', sortable: false },
  { title: 'Delete', key: 'del', sortable: false }
]

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    stockStore.clearForm()
  })
}

function closeDialog() {
  dialog.value = false
}

async function deleteItemConfirm() {
  await stockStore.deleteStock()
  closeDelete()
}

async function deleteItem(item: CheckMaterial) {
  if (!item.id) return
  await stockStore.getStock(item.id)
  dialogDelete.value = true
}

async function des(item: CheckMaterial) {
  console.log(item.stockDetails)
  if (!item.id) return
  await stockStore.showStockDetial(item.id)
  dialog.value = true
}

onMounted(async () => {
  await stockStore.getStocks()
})
</script>
<template>
  <v-container fluid style="background-color: rgb(202, 135, 96)">
    <v-row>
      <v-col cols="8">
        <div style="padding-bottom: 20px">
          <v-text-field
            v-model="stockStore.searchQuery"
            density="compact"
            label="Search Material"
            prepend-inner-icon="mdi-magnify"
            color="rgb(111, 52, 0)"
            style="width: 400px"
            variant="outlined"
            hide-details
            single-line
          ></v-text-field></div
      ></v-col>
    </v-row>

    <v-row>
      <v-card style="width: 100%">
        <v-data-table
          :headers="headers"
          :items="stockStore.filteredStock"
          style="background-color: rgb(255, 245, 236)"
          :search="stockStore.searchQuery"
          item-key="date"
        >
          <template v-slot:top>
            <v-toolbar flat style="background-color: rgb(111, 52, 0); color: white; border: 1%">
              <v-toolbar-title>Report Stock</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-spacer></v-spacer>

              <!-- Delete Dialog-->
              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card style="background-color: rgb(255, 245, 236)">
                  <v-card-title class="text-h5"
                    >Are you sure you want to delete this item?</v-card-title
                  >
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="rgb(255, 81, 81)" variant="flat" @click="closeDelete"
                      >Cancel</v-btn
                    >
                    <v-btn color="green-darken-1" variant="flat" @click="deleteItemConfirm"
                      >OK</v-btn
                    >
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>

              <v-dialog v-model="dialog">
                <v-card class="mx-auto" style="width: 700px">
                  <v-card-title class="text-h5" style="text-align: center"
                    >Stock Details<br />-------------------------------------------</v-card-title
                  >
                  <v-container>
                    <ReportDetail></ReportDetail>

                    <v-row><br /></v-row>
                  </v-container>

                  <v-card-actions>
                    <v-col cols="3"></v-col>
                    <v-col cols="6"
                      ><v-btn
                        width="150px"
                        color="rgb(255, 81, 81)"
                        variant="flat"
                        @click="closeDialog()"
                      >
                        Close
                      </v-btn>
                      <v-btn width="150px" color="blue-darken-2" variant="flat">
                        Print
                      </v-btn></v-col
                    >
                    <v-col cols="3"></v-col>
                  </v-card-actions>
                  <!-- <v-card-text> {{ stockStore.editedCheckStock }} </v-card-text> -->
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>

          <template v-slot:[`item.del`]="{ item }">
            <v-icon size="x-large" color="red-accent-4" @click="deleteItem(item)">
              mdi-delete-circle
            </v-icon>
          </template>

          <template v-slot:[`item.actions`]="{ item }">
            <v-icon size="large" color="green-accent-4" @click="des(item)">
              mdi-newspaper-variant
            </v-icon>
          </template>

          <template v-slot:no-data>
            <v-btn color="primary" @click="stockStore.getStocks"> Reset </v-btn>
          </template>
        </v-data-table>
      </v-card>
    </v-row>
  </v-container>
</template>
