<script setup lang="ts">
import dayjs from 'dayjs'

import { usePurOrderStore } from '@/stores/stock/purOrder'
import { ref } from 'vue'

const venderImg = ref(true)
const purOrderStore = usePurOrderStore()
</script>

<template>
  <v-dialog v-model="purOrderStore.billDialog" persistent width="340">
    <v-card style="padding-left: 4%; padding-right: 4%">
      <!-- <div class="img-container">
        <v-img
          v-if="venderImg"
          src="purOrderStore.purOrderBill.vender.image"
          class="minimal-size"
          max-width="100"
          max-height="100"
          aspect-ratio="0.5"
        ></v-img>
      </div> -->
      <br />
      <div style="padding: 0%; text-align: center">*****************************</div>
      <br />
      <v-card-title
        style="text-align: center; padding: 0%; font-size: 30px"
        class="font-weight-bold"
        >Purchase Order</v-card-title
      ><br />
      <div style="padding: 0%; text-align: center">*****************************</div>
      <br />
      <v-row style="font-size: 10px; text-align: center; padding: 1%">
        <v-col cols="4"> Store: {{ purOrderStore.purOrderBill.nameStore }} </v-col>
        <v-col cols="4"> ID: {{ purOrderStore.purOrderBill.id }} </v-col>
        <v-col cols="4">
          {{ dayjs(purOrderStore.purOrderBill.date).format('D/M/YYYY H:mm') }}
        </v-col>
      </v-row>

      <v-container class="pa-1" style="text-align: center; border: 2px solid #000000">
        <v-row>
          <v-col cols="5"> Description </v-col>
          <v-col cols="4" style="text-align: left"> Quantity </v-col>
          <v-col cols="3"> Price </v-col>
        </v-row>
      </v-container>
      <v-container>
        <v-col style="padding: 0%; padding-left: 4%">
          {{ purOrderStore.purOrderBill.orderDetails }}
        </v-col>

        <div style="padding-bottom: 5%; padding-top: 5%; text-align: center">
          *****************************
        </div>
        <v-container style="font-size: 10px" class="pa-0">
          <v-row>
            <v-col style="padding: 0%; text-align: left; padding-left: 4%">
              <v-list-item-title>Subtotal :</v-list-item-title>
            </v-col>
            <v-col style="padding: 0%; text-align: right; padding-right: 4%">
              {{ purOrderStore.purOrderBill.total.toFixed(2) }}
            </v-col>
          </v-row>
          <v-row>
            <v-col style="padding: 0%; text-align: left; padding-left: 4%">
              <v-list-item-title>Discount :</v-list-item-title>
            </v-col>
            <v-col style="padding: 0%; text-align: right; padding-right: 4%">
              {{ 'Null' }}
            </v-col>
          </v-row>
        </v-container>

        <v-row>
          <v-col style="font-size: 20px" class="font-weight-bold"> TOTAL : </v-col>
          <v-col style="text-align: right; font-size: 20px" class="font-weight-bold">
            {{ purOrderStore.purOrderBill.total.toFixed(2) }}
          </v-col>
        </v-row>

        <!-- <v-container v-if="receiptStore.cash > 0" style="font-size: 10px" class="pa-0">
          <v-row>
            <v-col style="padding: 0%; text-align: left; padding-left: 4%"> Cash : </v-col>
            <v-col style="padding: 0%; text-align: right; padding-right: 4%">
              {{ receiptStore.cash.toFixed(2) }}
            </v-col>
          </v-row>
          <v-row>
            <v-col style="padding: 0%; text-align: left; padding-left: 4%"> Change : </v-col>
            <v-col style="padding: 0%; text-align: right; padding-right: 4%">
              {{ (receiptStore.cash - receiptStore.receipt.total).toFixed(2) }}
            </v-col>
          </v-row>
        </v-container> -->
      </v-container>

      <div class="img-container">
        <v-img
          v-if="purOrderStore.qrCode"
          src="./img/qr-code.png"
          class="minimal-size"
          max-width="100"
          max-height="100"
          aspect-ratio="0.5"
        ></v-img>
      </div>
      <v-container style="font-size: 8px">
        <v-row>
          <v-col> User Name : {{ purOrderStore.purOrderBill.user?.fullName }} </v-col>

          <v-col style="text-align: right">
            Vender:
            {{ purOrderStore.purOrderBill.vender?.name }}
            <!-- receiptStore.receipt.member ? receiptStore.receipt.member.name : '---' -->
          </v-col>
        </v-row>
      </v-container>

      <v-btn color="red" variant="text" @click="purOrderStore.clear()"> Close </v-btn>
    </v-card>
  </v-dialog>
</template>

<style scoped>
.img-container {
  padding-top: 0%;
  display: flex;
  justify-content: center;
}
</style>
