<script setup lang="ts">
import { type Material } from '@/types/stock/Materials'

defineProps<{
  material: Material
}>()
const emit = defineEmits<{
  selectedMaterial: [material: Material] //selectedMaterial( mat m)
}>()
</script>

<template>
  <v-card
    magin="0"
    min-width="50"
    max-width="100%"
    height="50px"
    @click.stop="
      () => {
        emit('selectedMaterial', material)
      }
    "
    class="v-card"
  >
    <v-container>
      <v-row
        ><v-col class="text-center">Name: {{ material.name }}</v-col>
        <v-col class="text-center">Price: {{ material.price }}</v-col>
        <v-col class="text-center">Quantity: {{ material.quantity }}</v-col></v-row
      >
    </v-container>
    <!-- <div style="text-align: center; padding-bottom: 2%">
      {{ material.name }} {{ material.price }} {{ material.quantity }}
    </div> -->
  </v-card>
</template>

<style scoped>
.minimal-size {
  width: 100px;
  height: 100px;
}
.v-card {
  background-color: rgb(234, 228, 223);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
</style>
