<script setup lang="ts">
import MaterialCard from './MaterialCard.vue'
import { type Material } from '@/types/stock/Materials'

defineProps<{
  materials: Material[]
}>()

const emit = defineEmits<{
  selectedMaterial: [Material] //selectedMaterial( Material m)
}>()

function selected(m: Material) {
  console.log('MaterialList' + m)
  emit('selectedMaterial', m)
}
</script>

<template>
  <div style="max-width: 100%; max-height: 100%; overflow: auto">
    <v-container>
      <v-row>
        <v-col v-for="item of materials" :key="item.id" cols="12">
          <MaterialCard :material="item" @selectedMaterial="selected"></MaterialCard>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
