<script setup lang="ts">
import { ref, nextTick, onMounted } from 'vue'
import { usePosMatStore } from '@/stores/stock/posMaterial'
import { usePurOrderStore } from '@/stores/stock/purOrder'
import type { Material } from '@/types/stock/Materials'
import MaterialList from './MaterialList.vue'
import PurOrderDetailTable from './PurOrderDetailTable.vue'
import VenderCard from './VenderCard.vue'
import purOrderCard from './PurOrderCard.vue'
import OrderBill from './OrderBill.vue'
import PurOrderPayment from './PurOrderPayment.vue'

const posMatStore = usePosMatStore()

const purOrderStore = usePurOrderStore()

const tab = ref(1)
const divPurOrderItems = ref<HTMLElement | null>(null)

const selected = (material: Material) => {
  purOrderStore.addPurOrderDetail(material)
  //   receiptPromotionStore.forceRerender()
  //   console.log(JSON.stringify('promotionSelected : ' + receiptPromotionStore.promotionSelected))
  nextTick(() => {
    if (divPurOrderItems.value)
      divPurOrderItems.value.scrollTo(0, divPurOrderItems.value.scrollHeight)
  })
}

// //////// Promotion //////////
// const selectedPm = (promotion: Promotion) => {
//   receiptPromotionStore.addPromotionItem(promotion)
//   nextTick(() => {
//     if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
//   })
// }

onMounted(async () => {
  await posMatStore.getMaterials()
  // await promotionStore.getPromotions()
})
</script>

<template style="background-color: rgb(202, 135, 96)">
  <v-dialog v-model="purOrderStore.importOrder" persistent width="80%">
    <v-card>
      <v-card-title style="text-align: center" class="text-h5">
        <v-row
          ><v-col cols="11">Import Material </v-col>
          <v-col cols="1">
            <v-icon
              size="small"
              color="background-color: rgb(202, 135, 96)"
              @click="purOrderStore.clear()"
            >
              mdi-close-box
            </v-icon></v-col
          ></v-row
        >
      </v-card-title>
      <v-container fluid style="background-color: rgb(202, 135, 96)">
        <v-row>
          <v-col cols="12" md="7">
            <v-sheet
              min-width="0%"
              max-width="100%"
              height="100%"
              elevation="6"
              class="rounded-table"
            >
              <v-tabs
                v-model="tab"
                color="deep-purple-accent-4"
                align-tabs="center"
                class="rounded-table"
                style="background-color: rgb(253, 233, 206)"
              >
                <v-tab :value="1" style="font-size: 16px">Material</v-tab>
                <!-- <v-tab :value="2" style="font-size: 16px">Drink</v-tab>
            <v-tab :value="3" style="font-size: 16px">Dessert</v-tab> -->
              </v-tabs>
              <v-window v-model="tab">
                <v-window-item :value="1">
                  <MaterialList
                    :materials="posMatStore.material1"
                    @selectedMaterial="selected"
                  ></MaterialList>
                </v-window-item>
              </v-window>
            </v-sheet>
          </v-col>
          <v-col cols="12" md="5">
            <v-container class="pa-0">
              <v-row>
                <v-col cols="12">
                  <div
                    ref="divPurOrderItems"
                    style="height: 300; overflow: auto"
                    class="rounded-table"
                  >
                    <v-sheet min-width="200" max-width="100%" height="300" elevation="6">
                      <PurOrderDetailTable></PurOrderDetailTable>
                    </v-sheet>
                  </div>
                </v-col>
                <v-col cols="12" class="pt-1">
                  <v-sheet
                    min-width="150"
                    max-width="100%"
                    height="78"
                    elevation="6"
                    class="rounded-table"
                  >
                    <VenderCard></VenderCard>
                  </v-sheet>
                </v-col>
                <!-- <v-col cols="12" class="pt-1">
              <v-sheet
                max-width="100%"
                min-height="150"
                max-height="100"
                elevation="6"
                class="rounded-table"
              >
                <PromotionList></PromotionList>
              </v-sheet>
            </v-col> -->
                <v-col cols="12" class="pt-1">
                  <v-sheet
                    min-width="50"
                    max-width="100%"
                    height="80"
                    elevation="6"
                    class="rounded-table"
                  >
                    <purOrderCard></purOrderCard>
                  </v-sheet>
                </v-col>
                <v-col cols="12" class="pt-1">
                  <v-sheet
                    min-width="150"
                    max-width="100%"
                    max-height="60"
                    elevation="6"
                    class="rounded-table"
                  >
                    <v-container>
                      <v-row>
                        <v-col class="pt-2">
                          <v-btn
                            block
                            rounded="xl"
                            size="default"
                            style="background-color: rgb(255, 81, 81)"
                            @click="purOrderStore.clear"
                            >Clear</v-btn
                          >
                        </v-col>
                        <v-col class="pt-2">
                          <!-- <v-btn
                        block
                        rounded="xl"
                        size="default"
                        style="background-color: rgb(68, 222, 68)"
                        @click="purOrderStore.showBillPayment()"
                        >Purchase</v-btn
                      > -->
                          <v-btn
                            block
                            rounded="xl"
                            size="default"
                            style="background-color: rgb(68, 222, 68)"
                            @click="purOrderStore.showPurBillDialog()"
                            >Purchase</v-btn
                          >
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-sheet>
                </v-col>
              </v-row>
            </v-container>
          </v-col>
        </v-row>
      </v-container></v-card
    ></v-dialog
  >
  <PurOrderPayment></PurOrderPayment>
  <OrderBill></OrderBill>
</template>

<style scoped>
.rounded-table {
  border-radius: 10px;
}
</style>
