<script setup lang="ts">
import { usePurOrderStore } from '@/stores/stock/purOrder'
import type { PurOrderBill } from '@/types/stock/PurOrderBill'
import { nextTick, onMounted, ref } from 'vue'
import BillDialog from './BillDialog.vue'
import OrderView from './OrderView.vue'

const purOrderStore = usePurOrderStore()
const dialogDelete = ref(false)
const dialog = ref(false)
const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Date',
    key: 'date',
    value: 'date'
  },

  {
    title: 'Total',
    key: 'total',
    value: 'total'
  },
  {
    title: 'Total Qty',
    key: 'quantity',
    value: 'quantity'
  },
  {
    title: 'Store',
    key: 'nameStore',
    value: 'nameStore'
  },

  { title: 'Bill', key: 'actions', sortable: false },
  { title: 'Delete', key: 'del', sortable: false }
]

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    purOrderStore.clearForm()
  })
}

function closeDialog() {
  dialog.value = false
}

onMounted(async () => {
  await purOrderStore.getPurOrders()
})

async function deleteItemConfirm() {
  await purOrderStore.deletePurOrder()
  closeDelete()
}

async function deleteItem(item: PurOrderBill) {
  if (!item.id) return
  await purOrderStore.getPurOrder(item.id)
  dialogDelete.value = true
}

async function des(item: PurOrderBill) {
  console.log(item.orderDetails)
  if (!item.id) return
  await purOrderStore.showOrderDetial(item.id)
}
</script>
<template>
  <v-container fluid style="background-color: rgb(202, 135, 96)">
    <v-row>
      <v-col cols="6">
        <div style="padding-bottom: 20px">
          <v-text-field
            v-model="purOrderStore.searchQuery"
            density="compact"
            label="Search"
            prepend-inner-icon="mdi-magnify"
            color="rgb(111, 52, 0)"
            style="width: 400px"
            variant="outlined"
            hide-details
            single-line
          ></v-text-field></div
      ></v-col>

      <v-col cols="6" class="d-flex align-end flex-column">
        <v-btn color="light-blue-darken-4" variant="flat" @click="purOrderStore.showImport()">
          Import Material
        </v-btn>
      </v-col>
    </v-row>

    <v-row>
      <v-card style="width: 100%">
        <v-data-table
          :headers="headers"
          :items="purOrderStore.filteredPurOrder"
          style="background-color: rgb(255, 245, 236)"
          :search="purOrderStore.searchQuery"
          item-key="date"
        >
          <template v-slot:top>
            <v-toolbar flat style="background-color: rgb(111, 52, 0); color: white; border: 1%">
              <v-toolbar-title>Purchase Order</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-spacer></v-spacer>

              <!-- Delete Dialog-->
              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card style="background-color: rgb(255, 245, 236)">
                  <v-card-title class="text-h5"
                    >Are you sure you want to delete this item?</v-card-title
                  >
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="rgb(255, 81, 81)" variant="flat" @click="closeDelete"
                      >Cancel</v-btn
                    >
                    <v-btn color="green-darken-1" variant="flat" @click="deleteItemConfirm"
                      >OK</v-btn
                    >
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>

          <template v-slot:[`item.del`]="{ item }">
            <v-icon size="x-large" color="red-accent-4" @click="deleteItem(item)">
              mdi-delete-circle
            </v-icon>
          </template>

          <template v-slot:[`item.actions`]="{ item }">
            <v-icon size="large" color="green-accent-4" @click="des(item)">
              mdi-newspaper-variant
            </v-icon>
          </template>

          <template v-slot:no-data>
            <v-btn color="primary" @click="purOrderStore.getPurOrders"> Reset </v-btn>
          </template>
        </v-data-table>
      </v-card>
    </v-row>
  </v-container>
  <OrderView></OrderView>
  <BillDialog></BillDialog>
</template>
