<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'
import { usePurOrderStore } from '@/stores/stock/purOrder'
import { ref } from 'vue'

const purOrderStore = usePurOrderStore()
const cashPayment = ref(false)
const masterCardPayment = ref(false)
const qrcodePayment = ref(false)
const cashInput = ref('')
const cashInputField = ref(true)

function showProcessing() {
  if (masterCardPayment.value) {
    setTimeout(() => {
      paymentSelected()
    }, 2000)
  } else if (qrcodePayment.value) {
    setTimeout(() => {
      paymentSelected()
      purOrderStore.qrCode = true
    }, 5000)
  }
}

function paymentSelected() {
  if (qrcodePayment.value) {
    purOrderStore.addPurOrderBills()
    console.log(purOrderStore.purOrderBill)
    qrcodePayment.value = false
    purOrderStore.purOrderDialog = true
  }
}
</script>

<template>
  <v-dialog v-model="purOrderStore.purOrderPayment" persistent width="600">
    <v-card>
      <v-card-title style="text-align: center" class="text-h5"> PAYMENT </v-card-title>
      <v-container class="pa-2" style="text-align: center">
        <v-row>
          <v-col cols="4">
            <v-btn
              color="black-darken-1"
              width="130"
              style="font-weight: 700; background-color: rgb(223, 223, 223)"
              @click="
                (purOrderStore.purOrderPayment = false), (qrcodePayment = true), showProcessing()
              "
            >
              QR code
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
      <v-btn
        color="red-darken-1"
        variant="text"
        style="margin-top: 2%"
        @click="purOrderStore.purOrderPayment = false"
      >
        Back
      </v-btn>
    </v-card>
  </v-dialog>

  <v-dialog v-model="cashPayment" persistent width="300">
    <v-card>
      <v-card-title style="text-align: center" class="text-h5"> Cash </v-card-title>

      <v-row no-gutters style="text-align: center">
        <v-col>
          <v-btn color="red-darken-1" variant="text" @click="cashPayment = false" width="120">
            Cancle
          </v-btn>
        </v-col>
        <v-col>
          <v-btn color="green-darken-4" variant="text" @click="paymentSelected()" width="120">
            Enter
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
  </v-dialog>

  <v-dialog v-model="masterCardPayment" :scrim="false" persistent width="auto">
    <v-card color="primary">
      <v-card-text>
        Processing MasterCard
        <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
      </v-card-text>
    </v-card>
  </v-dialog>
  <v-dialog v-model="qrcodePayment" :scrim="false" persistent width="auto">
    <v-card color="primary">
      <v-card-text>
        Processing QR code
        <v-img src="./img/qr-code.png" class="minimal-size"></v-img>
        <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
      </v-card-text>
    </v-card>
  </v-dialog>
  <!-- </v-row> -->
</template>
