<script setup lang="ts">
import { usePurOrderStore } from '@/stores/stock/purOrder'
import { useVenderStore } from '@/stores/vender'
import { provide, ref } from 'vue'

// const num = ref(0)
// provide('num1', num)
// provide('num1Click', () => {
//   num.value += 2
// })
const tel = ref('')
const name = ref('')
const venderStore = useVenderStore()
const purOrderStore = usePurOrderStore()
const addVenderDialog = ref(false)

function onClick() {
  venderStore.searchVender(name.value)
  purOrderStore.calOrder()
  venderStore.showVender = true
  name.value = ''
}

function addVender() {
  if (name.value != '' && tel.value.length === 10) {
    venderStore.addVender(name.value, tel.value)
    clearAddVender()
  }
}

function clearAddVender() {
  addVenderDialog.value = false
  name.value = ''
  tel.value = ''
}
</script>

<template>
  <v-container class="pa-2">
    <v-row no-gutters>
      <v-col cols="6" style="padding-top: 2%">
        <v-text-field
          v-model="name"
          density="compact"
          variant="solo"
          label="Search Vender"
          append-inner-icon="mdi-magnify"
          clearable
          single-line
          hide-details
          @click:append-inner="onClick"
          @keyup.enter="onClick"
        ></v-text-field>
      </v-col>
      <v-col cols="4" style="padding-top: 3.7%; text-align: center" v-if="venderStore.showVender">
        {{ venderStore.currentVender ? venderStore.currentVender?.name : 'Not Member' }}
      </v-col>
      <v-col cols="2" style="padding-top: 2.5%; text-align: center; font-size: larger">
        <v-btn color="green-darken-4" variant="text" @click="addVenderDialog = true">
          <v-icon size="x-large">mdi-account-multiple-outline</v-icon>
          +
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
  <v-dialog v-model="addVenderDialog" persistent width="700">
    <v-card>
      <v-card-title style="text-align: center; padding-top: 3%" class="text-h5">
        Vender
      </v-card-title>
      <v-container style="text-align: center">
        <v-row>
          <v-col>
            <v-text-field
              ref="cashInputField"
              v-model="name"
              label="Name"
              outlined
              class="ma-2"
              required
            ></v-text-field>
          </v-col>
          <v-col>
            <v-text-field
              ref="cashInputField"
              v-model="tel"
              label="Tell"
              outlined
              class="ma-2"
              required
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-btn width="250" color="red-darken-1" variant="text" @click="clearAddVender()">
              Cancle
            </v-btn>
          </v-col>
          <v-col>
            <v-btn width="250" color="green-darken-1" variant="text" @click="addVender()">
              Add
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-dialog>
</template>
