<script setup lang="ts">
import type { Product } from '@/types/Product'
import { nextTick, ref, onMounted } from 'vue'
import type { VForm } from 'vuetify/components'
import { useOrderStore } from '@/stores/order'
import type { Order } from '@/types/Receipt/Order'
import type { User } from '@/types/User'
import order from '@/services/order'
import OrderDetail from '@/views/order/OrderDetail.vue'

const orderStore = useOrderStore()

const headers = [
  {
    title: 'ID',
    key: 'id',
    value: 'id'
  },
  {
    title: 'DateTime',
    key: 'created',
    value: (item: any) => {
      // Assuming 'created' is a datetime property in the 'item' object
      const createdDate = new Date(item.created)
      return createdDate.toLocaleString() // Format datetime using toLocaleString()
    }
  },
  {
    title: 'Total',
    key: 'total',
    value: 'total'
  },
  {
    title: 'Quantity',
    key: 'qty',
    value: 'qty'
  },
  {
    title: 'Discount',
    key: 'discount',
    value: 'discount'
  },

  {
    title: 'Customer',
    key: 'member',
    value: (item: any) => {
      return item.member.name
    }
  },
  { title: 'Actions', key: 'actions', sortable: true }
]

const dialog = ref(false)

let orderAny = orderStore.editedOrder

const currentTime = (item: any) => {
  // Assuming 'created' is a datetime property in the 'item' object
  const createdDate = new Date(item.created)
  return createdDate.toLocaleString() // Format datetime using toLocaleString()
}
// const hours = ref<any>() // Get the current hour (0-23)
// const minutes = ref<any>() // Get the current minute (0-59)
// const seconds = ref<any>() // Get the current second (0-59)

function showOrderDetail(item: Order) {
  orderAny = item
  orderStore.editedOrder = Object.assign({}, item)
  orderStore.detailDialog = true
}

function closeOrderDetail() {
  dialog.value = false
}

onMounted(() => {
  orderStore.getOrders()
})
</script>

<template>
  <v-card style="width: 100%">
    <v-data-table :headers="headers" :items="orderStore.orders">
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Order</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <!-- Put Edited Dialog -->

          <!-- <v-dialog v-model="dialog" persistent width="70%">
            <template v-slot:activator="{ props }">
              <v-btn color="primary" elevation="1" v-bind="props"> New Order </v-btn>
            </template>
          </v-dialog> -->
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="showOrderDetail(item)">
          mdi-list-box-outline
        </v-icon>
      </template>
    </v-data-table>
    <v-dialog v-model="orderStore.detailDialog" persistent>
      <v-container>
        <OrderDetail :order="orderAny"></OrderDetail>
      </v-container>
    </v-dialog>
    <v-dialog v-model="dialog" persistent width="50%">
      <v-card class="pa-2 detailOutBackground_Color">
        <v-card-title>
          <v-row class="pa-0">
            <v-col>
              <span class="text-h5">Order ID : {{ orderStore.editedOrder.id }}</span>
            </v-col>
            <v-col style="text-align: right; font-size: 13px; font-weight: 600">
              <!-- // Format: 'YYYY-MM-DD' toISOString().slice(0, 10) -->
              Date : {{ currentTime(orderStore.editedOrder) }}</v-col
            >
          </v-row>
        </v-card-title>
        <v-container>
          <v-row class="pa-0">
            <v-col style="font-size: 13px; font-weight: 500">
              <div>Member ID : {{ orderStore.editedOrder.member?.id }}</div>
              <div>
                Member Name :
                {{ orderStore.editedOrder.member?.name }}
              </div>
            </v-col>
            <v-col style="font-size: 13px; font-weight: 500; text-align: right; padding-bottom: 5%">
              <div>User ID : {{ orderStore.editedOrder.user!.id }}</div>
              <div>Payment : {{ orderStore.editedOrder.payment }}</div>
            </v-col>
          </v-row>
          <v-card
            class="pa-5 detailInBackground_Color mx-auto"
            max-width="80%"
            style="font-size: 11px; text-align: center; font-weight: 500"
          >
            <v-row>
              <v-col cols="4"> Total: {{ orderStore.editedOrder.total }}</v-col>
              <v-col cols="4">Quantity : {{ orderStore.editedOrder.qty }} </v-col>
              <v-col cols="4">Discount : {{ orderStore.editedOrder.discount }} </v-col>
            </v-row>
            <v-row>
              <v-col cols="4">Cash : {{ orderStore.editedOrder.id }}</v-col>
              <v-col cols="4">GetPoint: {{ orderStore.editedOrder.id }}</v-col>
              <v-col cols="4">UsePoint : {{ orderStore.editedOrder.id }} </v-col>
            </v-row>
          </v-card>
          <div style="text-align: right; padding-top: 2%">
            <v-btn color="red-darken-1" @click="closeOrderDetail()"> Close </v-btn>
          </div>
        </v-container>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<style>
.detailOutBackground_Color {
  background-color: rgba(212, 192, 161, 0.959);
}
.detailInBackground_Color {
  background-color: rgb(255, 238, 212);
}
.testColor {
  background-color: rgb(255, 176, 176);
}
</style>
