<script setup lang="ts">
import type { Product } from '@/types/Product'
import { nextTick, ref, onMounted } from 'vue'
import type { VForm } from 'vuetify/components'
import { usePromotionStore } from '@/stores/promotion'
import type { Promotion } from '@/types/Promotion'

const promotionStore = usePromotionStore()
const headers = [
  {
    title: 'ID',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Promotion Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Description',
    key: 'description',
    value: 'description'
  },
  {
    title: 'Start Date',
    key: 'start_date',
    value: 'start_date'
  },
  {
    title: 'End Date',
    key: 'end_date',
    value: 'end_date'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]

const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)
const startDate = ref(false)
const endDate = ref(false)

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    promotionStore.editedPromotion = Object.assign({}, promotionStore.initialPromotion)
  })
}
async function deleteItemConfirm() {
  closeDelete()
  await promotionStore.delPromotion(promotionStore.editedPromotion)
}
function editItem(item: Promotion) {
  promotionStore.editedPromotion = Object.assign({}, item)
  dialog.value = true
}
function deleteItem(item: Promotion) {
  promotionStore.editedPromotion = Object.assign({}, item)
  dialogDelete.value = true
}
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    promotionStore.editedPromotion = Object.assign({}, promotionStore.initialPromotion)
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  closeDialog()
  const promotion = promotionStore.setDateToObject(
    promotionStore.editedPromotion,
    promotionStore.startDate,
    promotionStore.endDate
  )
  await promotionStore.savePromotion(promotion)
}
onMounted(() => {
  promotionStore.getPromotions()
})
</script>

<template>
  <v-card style="width: 100%">
    <v-data-table :headers="headers" :items="promotionStore.promotions">
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Promotion</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <!-- Put Edited Dialog -->

          <v-dialog v-model="dialog" persistent width="70%">
            <template v-slot:activator="{ props }">
              <v-btn color="primary" elevation="1" v-bind="props"> New Promotion </v-btn>
            </template>
            <v-card class="pa-2">
              <v-card-title>
                <span class="text-h5">Promotion Profile</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form">
                  <v-container>
                    <v-row>
                      <v-col cols="12" md="3">
                        <v-text-field
                          v-model="promotionStore.editedPromotion.name"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Name"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" md="9">
                        <v-text-field
                          v-model="promotionStore.editedPromotion.description"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Description"
                        ></v-text-field>
                      </v-col>
                      <v-row>
                        <v-col cols="12" md="3"> </v-col>
                        <v-col cols="12" md="8" style="text-align: center">
                          <v-menu
                            v-model="startDate"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            width="30%"
                            transition="scale-transition"
                            offset-y
                          >
                            <template v-slot:activator="{ props }">
                              <v-btn
                                v-bind="props"
                                style="background-color: #5b65ff; color: white; margin-right: 5%"
                                >Start Date</v-btn
                              >
                            </template>
                            <v-card width="100%">
                              <v-container class="pa-0" style="text-align: center">
                                <v-date-picker
                                  color="primary"
                                  width="100%"
                                  v-model="promotionStore.startDate"
                                ></v-date-picker>
                                <v-container class="pa-2">
                                  <v-btn
                                    style="background-color: rgb(255, 88, 88); color: white"
                                    width="100%"
                                    @click="startDate = false"
                                  >
                                    Back
                                  </v-btn>
                                </v-container>
                              </v-container>
                            </v-card>
                          </v-menu>
                          <v-menu
                            v-model="endDate"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            width="30%"
                            transition="scale-transition"
                            offset-y
                          >
                            <template v-slot:activator="{ props }">
                              <v-btn v-bind="props" style="background-color: #ff5d5d; color: white"
                                >End Date</v-btn
                              >
                            </template>
                            <v-card width="100%">
                              <v-container class="pa-0" style="text-align: center">
                                <v-date-picker
                                  color="primary"
                                  width="100%"
                                  v-model="promotionStore.endDate"
                                ></v-date-picker>
                                <v-container class="pa-2">
                                  <v-btn
                                    style="background-color: rgb(255, 88, 88); color: white"
                                    variant="text"
                                    width="100%"
                                    @click="endDate = false"
                                  >
                                    Back
                                  </v-btn>
                                </v-container>
                              </v-container>
                            </v-card>
                          </v-menu>
                        </v-col>
                      </v-row>
                    </v-row>
                  </v-container>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn width="12%" color="red-darken-1" variant="text" @click="closeDialog()">
                  Close
                </v-btn>
                <v-btn width="12%" color="blue-darken-1" variant="text" @click="save()">
                  Save
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- Delete Dialog-->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon
          size="small"
          class="me-2"
          @click="
            editItem(item),
              promotionStore.ConvertStartDate(promotionStore.editedPromotion),
              promotionStore.ConvertEndDate(promotionStore.editedPromotion)
          "
        >
          mdi-pencil
        </v-icon>
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="promotionStore.getPromotions"> Reset </v-btn>
      </template>
    </v-data-table>
  </v-card>
</template>
